/* 
reset  
*/

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: "PT Sans", sans-serif;
}

/* 
header  
*/

header {
    background-color: #0084fd;
    max-width: 100%;
}


.container-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    align-items: center;
    max-width: 400px;
}

.container-header > * {
    margin: 0;
}
.header-container-right-desktop > nav > a {
    padding-left: 20px;
    text-decoration: none;
    color: white;
}

.header-container-right-desktop > nav > a:last-child {
    color: black;
    background-color: white;
    padding: 5px 10px;
    text-align: center;
    border-radius: 35px;
    margin-left: 20px;
}

.header-container-right-desktop {
    display: none;
}

.header-container-right-mobile {
    color: white;
    font-size: 30px;
}

/*
main  
*/

.container-main {
    max-width: 300px;
    margin: 0 auto;
}


.imagine-phone > img {
    max-height: 300px;
    margin-bottom: -5px;
    padding: 10px 20px 0;
    
}

.imagine-phone {
    text-align: center;
}

.card-intro {
    background-color: #b5ddff;
    border-radius: 20px;
}


.apple-store  {
    padding: 20px 30px ;

}

.card-intro .apple-store > a {
    background-color: #0084fd;
    padding: 6px 40px;
    color: white;
    text-decoration: none;
    border-radius: 20px;
}

.card-intro .apple-store > a > i {
    padding: 0px 10px;
}

.card-intro h2 {
    color: #0084fd;
}

.my-col-1-3-tablet .card-intro div > i {
    color: #0084fd;
    font-size: 60px;
}

.my-col-1-3-tablet .card-intro {
    text-align: center;
    padding: 30px 50px;
}

.my-col-1-3-tablet .card-intro h2 {
    padding: 15px 0px;
}

.my-col {
    padding: 20px 0;
}

.my-row-intro {
    padding: 30px 0;
}

.apple-store p {
    padding: 20px 0 40px;
}

#planning {
    background-color: #9792e4;
   
}


#Testimonials {
    margin: 40px 0;
}

.card-planning-left > img {
    width: 100%;
    padding: 80px 10px;
}


.card-planning-left > * {
    
    color: white;
 
    padding: 15px 0;
}



.card-planning-right div > *   {
    padding: 10px 0;
}

.card-planning-right div > img {
    width: 100%;
    padding: 20px 10px;
}


.card-planning-right > div  {
    background-color: white;
    text-align: center;
    border-radius: 20px;
    max-width: 100%;
}

.my-button > a  {
    background-color: #9792e4;
    color: black;
    padding: 10px;
    border-radius: 50%;
}

.card-planning-right div > .my-button   {
    padding: 20px 0;
}

.second-container-main-desktop {
    padding-bottom: 20px;
}

.tittle-terzo-container  {
    text-align: center;
}

.tittle-terzo-container h3  {
    color: #9792e4;
    padding: 20px 0;
}

.card-testimonials  {
    background-color: #9792e4;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    margin: 20px 0;
}


.card-testimonials :last-child  {
    color: white;

}

.test-testimonials {
    text-align: center;
}

.test-testimonials > *  {
    padding: 10px 0;
}


.circle-img {
    background-color: white;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    /* overflow: hidden; */

}

.circle-img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}


.terzo-container-main-desktop {
    margin-top: 30px;
    margin-bottom: 30px;
}

#benefit {
    background-color: #9792e4;
    margin: 40px 0;
}
.my-col-1-3-tablet .card-quarto-main {
    background-color: white;
}

.quarto-container-main-desktop {
    padding-top: 30px;
}
.quarto-container-main-desktop h2 {
    color: white;
}
.card-quarto-main h2 {
    color: #9792e4;
}

.my-col-1-3-tablet .card-quarto-main div > i {
    color: #9792e4;
    font-size: 40px;
}

.my-col-1-3-tablet .card-quarto-main {
    text-align: left;
    padding: 30px 20px;
}

.my-col-1-3-tablet .card-quarto-main > a {
    color: white;
    background-color: #9792e4;
    text-decoration: none;
    border-radius: 20px;
    padding: 8px 50px;
}

.my-col-1-3-tablet .card-quarto-main > p {
    margin: 10px 0 30px;
}

.card-about-left  {
    padding: 20px 0;
}

.card-about-right  {
    padding-top: 20px;
}

.card-about-left h2 {
    color: #9792e4;
    font-size: 60px;
}

.card-about-left p {
    padding: 20px 30px 0 0;
    font-size: 20px;
}

.card-about-right a  {
    background-color: #9792e4;
    color: white;
    padding: 7px 30px;
    text-decoration: none;
    border-radius: 20px;
}

.card-about-right p {
    color: #9792e4;
    padding: 30px 0;
    font-size: 25px;
}

.card-about-right div .margin-left-mobile > i {
    color: #9792e4;
    font-size: 60px;
    position: absolute;
    top: 0;
    right: 0;
}

.margin-left-mobile  {
    position: relative;
}

.margin-left-mobile {
    margin-left: 0;
}

#about {
    margin-bottom: 40px;
}

/* 
footer  
*/

.container-footer div > * {
    max-width: 300px;
    text-align: center;
    padding: 20px 0;
}


.container-footer .footer-top {
    background-color: #9792e4;
}

.container-footer .footer-top div h2 {
    color: lightgrey;
    font-size: 20px;
}

.container-footer .footer-top div h3 {
    color: white;
    font-size: 30px;
}

.container-footer .footer-top div h4 {
    color: orange;
    font-size: 50px;
}

.container-footer .footer-top div  p,
.container-footer .footer-top div p a {
    color: white;
}

.container-footer .footer-top div div > a {
    background-color: white;
    color: #9792e4;
    padding: 10px 50px;
    text-decoration: none;
    border-radius: 20px;
}

.container-footer .footer-bottom {
    background-color: #333333;
    padding: 30px 0;

}

.container-footer .footer-bottom div p:not(a) {
    color: white;
    padding: 20px 0;
    
}


.container-footer .footer-bottom div p a {
    color: #9792e4;
    
}

/* 
Responsive  
*/

/* tablet */

@media screen and (min-width: 576px) {
    .header-container-right-desktop {
        display: none;
    }

    .container-header {
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
        align-items: center;
        max-width: 850px;
    }

    .container-main {
        max-width: 850px;
        margin: 0 auto;
    }

    .my-row-intro {
        display: flex;
        flex-wrap: wrap;


    }

    .my-col-2-3-tablet {
        width: calc(((100% / 3) * 2) - 20px);
    }

    .my-col-1-3-tablet {
        width: calc((100% / 3) - 20px);
        display: flex;
    }

    .my-row-intro  {
        margin: 0 -10px;
    }

    .imagine-phone > img {
        max-height: 300px;
        margin-bottom: -5px;
        padding: 10px 20px;
    }

    .card-intro {
        background-color: #b5ddff;
        border-radius: 20px;
    }

    .apple-store  {
        padding: 20px 30px ;
    }

    .apple-store p {
        padding: 20px 0;
        font-size: 20px;
    }

    .card-intro .apple-store > a {
        background-color: #0084fd;
        padding: 6px 40px;
        color: white;
        text-decoration: none;
        border-radius: 20px;
    }

    .card-intro .apple-store > a > i {
        padding: 0px 10px;
    }

    .card-intro h2 {
        color: #0084fd;
    }

    .card-intro p {
        font-size: 20px;
    }

    .my-col-1-3-tablet .card-intro div > i {
        color: #0084fd;
        font-size: 60px;
    }

    .my-col-1-3-tablet .card-intro {
        text-align: center;
        padding: 20px 20px;
    }

    .my-col-1-3-tablet .card-intro h2 {
        padding: 15px 0px;
    }

    .my-col {
        padding: 10px 0;
    }

    .my-row-intro {
        padding: 30px 0;
    }

    .second-container-main-desktop {
        max-width: 850px;
    }

    .card-planning-left > h2 {
        font-size: 70px;
    }

    .tittle-terzo-container  {
        text-align: center;
    }

    .tittle-terzo-container h3  {
        color: #9792e4;
        padding: 20px 0;
    }

    .card-testimonials  {
        background-color: #9792e4;
        width: 100%;
        display: flex;
        padding: 10px;
        border-radius: 20px;
        margin: 20px 0;
    }

    .card-testimonials :last-child  {
        flex-grow: 1;
        align-self: center;
        color: white;

    }

    .card-testimonials :last-child  {
        flex-grow: 1;
        align-self: center;
        color: white;

    }

    .test-testimonials-tablet {
        padding-left: 30px;
        text-align: left;
    }

    .test-testimonials-tablet > *  {
        padding: 10px 0;
    }

    #about {
        max-width: 850px;
    }


    .circle-img {
        background-color: white;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;

    }

    .circle-img > img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }

    .terzo-container-main-desktop {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    .quarto-container-main-desktop > h2 {
        text-align: center;

    }

    .card-quarto-main h2 {
        color: #9792e4;
    }
    
    .my-col-1-3-tablet .card-quarto-main div > i {
        color: #9792e4;
        font-size: 40px;
    }
    
    .my-col-1-3-tablet .card-quarto-main {
        text-align: left;
        padding: 30px 20px;
    }

    .my-col-1-2-tablet {
        width: calc((100% / 2) - 20px);
        display: flex;
    }

    .quinto-container-main-tablet {
        display: flex;
        margin: 40px 0;
    }

    .card-about-left  {
        width: 70%;
        padding: 20px 0;
    }

    .card-about-right  {
        width: 30%;
        padding-top: 20px;
    }

    .card-about-left h2 {
        color: #9792e4;
        font-size: 60px;
    }

    .card-about-left p {
        padding: 20px 30px 0 0;
        font-size: 20px;
    }

    .card-about-right a  {
        background-color: #9792e4;
        color: white;
        padding: 7px 30px;
        text-decoration: none;
        border-radius: 20px;
    }

    .card-about-right p {
        color: #9792e4;
        padding: 30px 0;
        font-size: 25px;
    }

    .card-about-right div .circle-img > i {
        color: #9792e4;
        font-size: 60px;
        position: absolute;
        top: 0;
        right: 0;
    }

    .circle-img  {
        position: relative;
    }

    .margin-left-mobile {
        margin-left: 50px;
    }

    .container-footer div > * {
        max-width: 850px;
        text-align: center;
        padding: 20px 0;
    }

}

/* desktop  */

@media screen and (min-width: 992px) {
    .header-container-right-desktop {
        display: block;
    }

    .header-container-right-mobile {
        display: none;
    }

    .container-header {
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
        align-items: center;
        max-width: 1000px;
    }

    .container-main {
        max-width: 1000px;
        margin: 0 auto;
        /* padding: 0 10px; */
    }

    .my-row-intro {
        display: flex;
        flex-wrap: wrap;
    }

    .my-col-2-3-tablet {
        width: calc(((100% / 3) * 2) - 20px);
    }

    .my-col-1-3-tablet {
        width: calc((100% / 3) - 20px);
        display: flex;
    }

    .my-row-intro  {
        margin: 0 -10px;
    }

    .imagine-phone > img {

        padding: 50px 60px 0  40px;
        margin-bottom: -5px;
    }

    .card-intro {
        background-color: #b5ddff;
        border-radius: 20px;
    }

    .my-col-2-3-tablet .card-intro {
        display: flex;
    }
    
    .apple-store  {
        padding: 20px 20px ;
    }

    .apple-store p {
        padding: 20px 0 30px;
        font-size: medium;
    }

    .card-intro .apple-store > a {
        background-color: #0084fd;
        padding: 6px 40px;
        color: white;
        text-decoration: none;
        border-radius: 20px;
    }

    .card-intro .apple-store > a > i {
        padding: 0px 10px;
    }

    .card-intro h2 {
        color: #0084fd;
    }

    .my-col-1-3-tablet .card-intro div > i {
        color: #0084fd;
        font-size: 60px;
    }

    .my-col-1-3-tablet .card-intro {
        text-align: center;
        padding: 20px 20px;
    }

    .my-col-1-3-tablet .card-intro h2 {
        padding: 25px 0px;
    }

    .my-col-1-3-tablet .card-intro p {
        font-size: medium;
    }

    .my-col {
        padding: 10px 0;
    }

    .my-row-intro {
        padding: 30px 0;
    }

    .second-container-main-desktop {
        display: flex;
    }

    .second-container-main-desktop .card-planning-left ,
    .second-container-main-desktop .card-planning-right {
        width: 50%;
    }
    .card-planning-left > img {
        width: 250px;
        padding: 40px 10px;
    }

    .card-planning-left  {
        padding-left: 170px;

    }

    .card-planning-left > * {
        color: white;
        padding: 15px 0;
    }


    .card-planning-right div > *   {
        padding: 10px 0;
        
    }

    .card-planning-right div > img {
        width: 150px;
        padding: 20px 10px;
    }

    
    .card-planning-right > div  {
        background-color: white;
        text-align: center;
        border-radius: 20px;
        margin: 130px 0 20px 20px;
        max-width: 250px;
        max-height: 100%;
       
    }

    .my-button > a  {
        background-color: #9792e4;
        padding: 10px;
        border-radius: 50%;
    }

    .my-button  {
        padding-bottom: 10px;
        
    }

    .card-planning-left > h2 {
        font-size: 30px;
    }

    .quarto-container-main-desktop > h2 {
        text-align: center;

    }

    .card-quarto-main h2 {
        color: #9792e4;
    }
    
    .my-col-1-3-tablet .card-quarto-main div > i {
        color: #9792e4;
        font-size: 40px;
    }
    
    .my-col-1-3-tablet .card-quarto-main {
        text-align: left;
        padding: 30px 20px;
    }

    #about {
        max-width: 1000px;
    }

    .container-footer div > * {
        max-width: 1000px;
        text-align: center;
        padding: 20px 0;
    }

}